footer {
	height: $footerHeight;
	width: 100%;
	height: auto;
	background: #575757;
	.footerWrapper {
		margin: 0 auto;
		width: $wrapperWidth;
		ul.footerLinks {
			list-style: none;
			width: 24%;
			margin-right: 1%;
			margin-top: 10px;
			margin-bottom: 10px;
			display: inline-block;
			vertical-align: top;
			li {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px dashed #fff;
				&:last-child{
					border-bottom: 0px;
				}
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}